:root {
    --primary-color: #0d78dc;
    --hover-color: #083f8f;
    --header-bg: rgb(213, 213, 213);
    --header-border: #c9c9c9;
    --header-text: #1d2944;
    --score-bg: #333333;
    --score-text: #ffffff;
    --ball-color: rgba(245, 223, 95, 0.94);
    --internal-team-color: rgba(0, 0, 255, 0.51);
    --external-team-color: rgba(255, 0, 0, 0.51);
    --goal-bg: rgba(0, 0, 0, 0.51);
    --field-bg: rgba(45, 150, 45, 0.88);
    --field-border: rgba(171, 171, 171, 0.82);
}

/* Styles généraux */
.content {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles pour le header */
.header {
    height: 12vh;
    width: 88vw;
    display: flex;
    margin-bottom: 2vh;
    justify-content: space-between;
    align-items: center;
}

.header .commentary {
    width: 27vw;
    height: 10vh;
    background-color: var(--header-bg);
    border: 2px solid var(--header-border);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--header-text);
    text-align: center;
}

.header .actions {
    height: 10vh;
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .actions button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.header .actions button:hover {
    background-color: var(--hover-color);
}

.header .scoreBoard {
    height: 10vh;
    width: 27vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--score-bg);
    font-size: 18px;
    color: var(--score-text);
    border: 2px solid var(--header-border);
    border-radius: 15px;
}

.header .score-changed {
    animation: scoreChangeAnimation 1.5s ease;
}

@keyframes scoreChangeAnimation {
    0% { transform: scale(1); color: #63f13c; }
    25% { transform: scale(1); color: red; }
    50% { transform: scale(1); color: #63f13c; }
    75% { transform: scale(1); color: red; }
    100% { transform: scale(1); color: #dcc04f; }
}

/* Styles pour le terrain */
.field {
    width: 80vw;
    height: 70vh;
    background-color: var(--field-bg);
    border: 2px solid var(--field-border);
    border-radius: 10px;
    position: relative;
}

.field .goal {
    width: 1vw;
    height: 20vh;
    background-color: var(--goal-bg);
    position: absolute;
    transform: translateY(-50%);
}

.field #goal1 {
    left: -1vw;
    top: 50%;
}

.field #goal2 {
    right: -1vw;
    top: 50%;
}

.field .ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--ball-color);
    position: absolute;
    transition: left 0.5s, top 0.5s;
}

@keyframes ballAir {
    0% { transform: scale(1) translateY(0); }
    50% { transform: scale(1.2) translateY(-10px); }
    100% { transform: scale(1) translateY(0); }
}

.ball.air {
    animation: ballAir 0.5s ease-out;
}

@keyframes dribbleMove {
    0% { transform: scale(1); }
    50% { transform: scale(1.1) translateY(-5px); }
    100% { transform: scale(1); }
}

.ball.dribbling {
    animation: dribbleMove 0.5s ease-out;
}


/* Flexbox pour les équipes */
.internalTeam, .externalTeam {
    display: flex;
    flex-wrap: wrap; /* Permet d'ajuster les joueurs sur plusieurs lignes */
    justify-content: center; /* Centre les joueurs horizontalement */
    gap: 10px; /* Ajout d'un espacement entre les joueurs */
}

.player {
    width: 30px;
    height: 30px;
    background-color: lightblue;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: 14px;
}

.field .player {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.field .internalTeam .player {
    border: 2px solid blue;
    background-color: var(--internal-team-color);
}

.field .externalTeam .player {
    border: 2px solid red;
    background-color: var(--external-team-color);
}

/* Styles pour le dé */
.dice {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: black;
    border: 2px solid var(--header-border);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--header-border);
    animation: rollDice 1s ease-out;
}

@keyframes rollDice {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}